.depcache
.gitconfig
*.ncb
*.opensdf
*.sdf
*.suo
*.user
*.opensdf
*.sdf
*.wwdb
*.obj
*.exe
Debug/*
Release/*
bin.*/*
jbin.*/*
jam.xcodeproj/*.mode1v3
jam.xcodeproj/*.pbxuser
jam.xcodeproj/project.xcworkspace/
jam.xcodeproj/xcuserdata/
jam0
ipch/
