.depcache
.gitconfig
.jamdepcache
jamzipbuffer.c
*.ncb
*.opensdf
*.sdf
*.suo
*.user
*.wwdb
*.obj
*.exe
*.VC.opendb
*.VC.db
Debug/*
Release/*
bin.*/*
jbin.*/*
x64/
/DerivedData/
jam.xcodeproj/*.mode1v3
jam.xcodeproj/*.pbxuser
jam.xcodeproj/project.xcworkspace/
jam.xcodeproj/xcuserdata/
jam0
ipch/
.jamchecksums
